@keyframes pattern-move {
	0% { background-position: 0 0; }
	100% { background-position: 30px 30px; }
}

/* Loader from: https://css-loaders.com/factory/ */
.texture-loader {
	width: 300px;
	height: 14px;
	/* box-shadow: 0 3px 0 #fff; */
	position: relative;
	clip-path: inset(-40px 0 -5px);
	&:before {
		content: "";
		position: absolute;
		inset: auto calc(50% - 17px) 0;
		height: 50px;
		--g:no-repeat linear-gradient(#ccc 0 0);
		background: var(--g),var(--g),var(--g),var(--g);
		background-size: 16px 14px;
		animation:
			texture-loader-boxes 2s infinite linear,
			texture-loader-move 2s infinite linear;
	}
}
@keyframes texture-loader-boxes {
	0%,
	100%  {background-position: 0 -50px,100% -50px}
	17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
	35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
	52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
	70%,
	98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes texture-loader-move {
	0%,70% {transform:translate(0)}
	100%  {transform:translate(180px)}
}

.data-loader {
	width: 90px;
	height: 14px;
	box-shadow: 0 3px 0 #fff;
	position: relative;
	display: grid;
	clip-path: inset(-60px 0 -5px)
}
.data-loader:after {
	content: "";
	position: relative;
	background: repeating-linear-gradient(90deg,#0000 0 calc(50% - 8px), #ccc 0 calc(50% + 8px), #0000 0 100%) 0 0/calc(100%/3) 100%;
	animation: data-loader-move 1s infinite;
} 
.data-loader:before {
	content: "";
	position: absolute;
	width: 14px;
	aspect-ratio: 1;
	left: calc(50% - 7px);
	bottom: 0;
	border-radius: 50%;
	background: lightblue;
	animation: data-loader-drop 1s infinite;
}
@keyframes data-loader-move {
	50%,100% {background-position: calc(100%/2) 0}
}
@keyframes data-loader-drop {
	0%,50% {transform:translateY(-80px)}
}


.page-generator {
	header {
		padding: 0 10px;
		background-color: oklch(0% 0 0 / 0.4);
	}
	
	.title {
		display: inline-block;
		padding: 4px 0;
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	.assets {
		display: grid;
		justify-items: start;
		gap: 20px;
		margin-top: 20px;
	}
	
	.unicode-texture {
		position: relative;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 10px;
		border-radius: 8px;
		background-color: oklch(50% 0 0 / 0.1);
		
		.preview-container {
			position: relative;
		}
		
		.rendering-indicator {
			width: 300px;
			aspect-ratio: 1;
			display: grid;
			place-items: center;
		}
		
		.preview {
			display: block;
			width: 300px;
		}
		
		&:hover .preview {
			background: repeating-conic-gradient(oklch(0% 0 0 / 0.08) 0% 25%, oklch(100% 0 0 / 0.08) 0% 50%) 50% / 30px 30px;
			animation: pattern-move 10s linear infinite;
		}
		
		figcaption {
			padding: 20px;
			font-size: 0.75rem;
			line-height: 1.4;
		}
		.meta {}
		
		.download-metrics {
			color: inherit;
		}
		
		&:empty {
			display: grid;
			place-items: center;
			&::after {
				display: block;
				content: 'Loading...';
				opacity: 0.4;
			}
		}
		
		.expand {
			position: absolute;
			top: 0;
			right: 0;
			display: grid;
			place-items: center;
			width: 60px;
			height: 60px;
			.icon {
				display: block;
				width: 40px;
				height: 40px;
				padding: 10px;
				border-radius: 8px;
				background-color: oklch(0% 0 0 / 0.3);
				&:hover {
					background-color: oklch(0% 0 0 / 0.5);
				}
			}
		}
		
		.preview-container:not(:hover) .expand {
			visibility: hidden;
		}
		
		&.busy-rendering {}
		.texture-loader {
			position: absolute;
			left: 0px;
			bottom: 20px;
		}
	}
	
	.fonts-data {
		position: relative;
		display: grid;
		grid-gap: 10px;
		border-radius: 8px;
		background-color: oklch(50% 0 0 / 0.1);
		padding: 20px;
		
		.download-metrics {
			color: oklch(90% 0.1 90);
		}
	}
	
	.download {
		.filename {}
		&[aria-disabled] {}
	}
}