@keyframes pattern-move {
	0% { background-position: 0 0; }
	100% { background-position: 30px 30px; }
}


/* Loader from: https://css-loaders.com/factory/ */
.busy-loader {
	width: 300px;
	height: 14px;
	/* box-shadow: 0 3px 0 #fff; */
	position: relative;
	clip-path: inset(-40px 0 -5px);
	&:before {
		content: "";
		position: absolute;
		inset: auto calc(50% - 17px) 0;
		height: 50px;
		--g:no-repeat linear-gradient(#ccc 0 0);
		background: var(--g),var(--g),var(--g),var(--g);
		background-size: 16px 14px;
		animation:
			busy-loader-boxes 2s infinite linear,
			busy-loader-move 2s infinite linear;
	}
}
@keyframes busy-loader-boxes {
	0%,
	100%  {background-position: 0 -50px,100% -50px}
	17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
	35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
	52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
	70%,
	98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes busy-loader-move {
	0%,70% {transform:translate(0)}
	100%  {transform:translate(180px)}
}


.page-generator {
	header {
		padding: 0 10px;
		background-color: oklch(0% 0 0 / 0.4);
	}
	
	.title {
		display: inline-block;
		padding: 4px 0;
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	.textures {
		display: grid;
		/* grid-template-columns: repeat(auto-fit, 300px); */
		/* justify-content: center; */
		/* align-items: start; */
		justify-items: start;
		gap: 20px;
		margin-top: 20px;
	}
	
	.unicode-texture {
		position: relative;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 10px;
		/* height: 300px; */
		border-radius: 8px;
		background-color: oklch(50% 0 0 / 0.1);
		
		.preview-container {
			position: relative;
		}
		
		.rendering-indicator {
			width: 300px;
			aspect-ratio: 1;
			display: grid;
			place-items: center;
		}
		
		.preview {
			display: block;
			width: 300px;
		}
		
		&:hover .preview {
			background: repeating-conic-gradient(oklch(0% 0 0 / 0.08) 0% 25%, oklch(100% 0 0 / 0.08) 0% 50%) 50% / 30px 30px;
			animation: pattern-move 10s linear infinite;
		}
		
		figcaption {
			padding: 20px;
			font-size: 0.75rem;
			line-height: 1.4;
		}
		.meta {}
		
		&:empty {
			display: grid;
			place-items: center;
			&::after {
				display: block;
				content: 'Loading...';
				opacity: 0.4;
			}
		}
		
		.expand {
			position: absolute;
			top: 0;
			right: 0;
			display: grid;
			place-items: center;
			width: 60px;
			height: 60px;
			.icon {
				display: block;
				width: 40px;
				height: 40px;
				padding: 10px;
				border-radius: 8px;
				background-color: oklch(0% 0 0 / 0.3);
				&:hover {
					background-color: oklch(0% 0 0 / 0.5);
				}
			}
		}
		
		.preview-container:not(:hover) .expand {
			visibility: hidden;
		}
		
		&.busy-rendering {}
		.busy-loader {
			position: absolute;
			left: 0px;
			bottom: 20px;
		}
	}
	
	.download {
		.filename {}
		&[aria-disabled] {}
	}
}