@keyframes pattern-move {
	0% { background-position: 0 0; }
	100% { background-position: 30px 30px; }
}

.page-generator {
	header {
		padding: 0 10px;
		background-color: oklch(0% 0 0 / 0.4);
	}
	
	.title {
		display: inline-block;
		padding: 4px 0;
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	.textures {
		display: grid;
		grid-template-columns: repeat(auto-fit, 300px);
		justify-content: center;
		align-items: start;
		gap: 20px;
		margin-top: 20px;
	}
	
	.unicode-texture {
		width: 300px;
		border-radius: 8px;
		background-color: oklch(50% 0 0 / 0.1);
		
		.preview-container {
			position: relative;
		}
		
		.preview {
			width: 100%;
			&:first-child {
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
			}
		}
		
		&:hover .preview {
			background: repeating-conic-gradient(oklch(0% 0 0 / 0.08) 0% 25%, oklch(100% 0 0 / 0.08) 0% 50%) 50% / 30px 30px;
			animation: pattern-move 10s linear infinite;
		}
		
		figcaption {
			padding: 4px 12px;
			font-size: 0.75rem;
			line-height: 1.4;
		}
		.meta {}
		
		&:empty {
			display: grid;
			place-items: center;
			&::after {
				display: block;
				content: 'Loading...';
				opacity: 0.4;
			}
		}
		
		.expand {
			position: absolute;
			top: 0;
			right: 0;
			display: grid;
			place-items: center;
			width: 60px;
			height: 60px;
			.icon {
				display: block;
				width: 40px;
				height: 40px;
				padding: 10px;
				border-radius: 8px;
				background-color: oklch(0% 0 0 / 0.3);
				&:hover {
					background-color: oklch(0% 0 0 / 0.5);
				}
			}
		}
		
		.preview-container:not(:hover) .expand {
			visibility: hidden;
		}
	}
	
	.download {
		
		.filename {}
		&[aria-disabled] {}
	}
}