@layer skeleton {
	@font-face {
		font-family: 'Inter';
		src: url('./fonts/Inter-VariableFont_opsz,wght.ttf');
	}
	
	@font-face {
		font-family: 'Inter';
		font-style: italic;
		src: url('./fonts/Inter-Italic-VariableFont_opsz,wght.ttf');
	}
	
	@font-face {
		font-family: 'Dragon';
		src: url('./fonts/DragonScript.woff');
	}
	
	@font-face {
		font-family: 'Dwemer';
		src: url('./fonts/DwemerSR.woff');
	}
	
	@font-face {
		font-family: 'Falmer';
		src: url('./fonts/Falmer.woff');
	}
	
	@font-face {
		font-family: 'Oblivion';
		src: url('./fonts/Oblivion.ttf');
	}
	
	@font-face {
		font-family: 'Oblivion Worn';
		src: url('./fonts/Oblivion Worn.ttf');
	}
}