.texture {
    aspect-ratio: 1;
    width: 640px;
    /* width: 2048px; */
    --check-a: lch(0 0 0 / 4%);
    --check-b: lch(50 0 0 / 4%);
    background: conic-gradient(
        var(--check-a) 90deg,
        var(--check-b) 90deg 180deg,
        var(--check-a) 180deg 270deg,
        var(--check-b) 270deg
    );
    background-size: 16px 16px;
    box-shadow: 0px 2px 4px lch(0 0 0 / 40%);
    
    cursor: pointer;
}