@import url('./css/variables.css');
@import url('./css/reset.css');
@import url('./css/skeleton.css');
@import url('./css/fonts.css');

/* @import url('./css/components/texture.css'); */

@import url('./css/pages/landing.css');
@import url('./css/pages/generator.css');

@layer reset, skeleton, components, pages;